*/.DS_Store
*/._.DS_Store
.Rproj.user
kmls.zip
.Rhistory
.DS_Store
.vscode
catalog/*.tif*
catalog/*/*.tif*
catalog/*/*/*.tif*
*csv
*/*csv
*.ini
*/*.ini
master_grid.tif
terraform/.terraform
__pycache__
notebooks/data
cfg/master_grid*
notebooks/.ipynb_checkpoints
